<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <meta property="og:locale" content="{{ app.request.locale }}" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{ block('title') }}" />
        <meta property="og:description" content="Application statistics for Mautic" />
        <meta property="og:url" content="{{ app.request.uri }}" />
        <meta property="og:site_name" content="Open Source Marketing Automation: Mautic" />
        <meta property="article:publisher" content="http://facebook.com/trymautic" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:description" content="Application statistics for Mautic" />
        <meta name="twitter:title" content="{{ block('title') }}" />
        <meta name="twitter:site" content="@mautic" />
        <meta name="twitter:domain" content="Open Source Marketing Automation: Mautic" />
        <title>{% block title %}Mautic Application Statistics{% endblock %}</title>
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" />
    </head>
    <body>
        <div class="row mb-4 mt-4">
            <div class="col-12">
                <h1 style="text-align: center">Mautic statistics</h2>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12">
                <section class="content" style="text-align: center">
                    {% set _pagetitle = block('pagetitle') %}
                    {%- if _pagetitle is not empty -%}
                    <div>
                        <h2>{{ _pagetitle|raw }}</h2>
                    </div>
                    {% endif -%}
                </section>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-2 col-xl-1"></div>
            <div class="col-8 col-xl-10">
                {%- block content %}{% endblock %}
            </div>
            <div class="col-2 col-xl-1"></div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>&copy; {{ 'now'|date('Y') }}, Mautic. All Rights Reserved.</p>
            </div>
        </div>
        {% block bodyJavaScript -%}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-55195964-1', 'auto');
            ga('send', 'pageview');
        </script>
        {% endblock %}
    </body>
</html>
