{% extends '::base.html.twig' %}

{% block pagetitle %}{{ 'Mautic 3 upgrade Statistics'|trans }}{% endblock %}

{% block content %}
                            {%- if data|length %}

                                <div class="row">
                                    {% if data.version -%}
                                    <div class="col-12 col-md-6 col-xl-3 mb-4" style="text-align: center">
                                        <h3>{{ 'Source Versions'|trans }}</h3>
                                        <canvas id="mauticChartVersion" width="200" height="200"></canvas>
                                    </div>
                                    {% endif -%}
                                    {% if data.phpVersion -%}
                                    <div class="col-12 col-md-6 col-xl-3 mb-4" style="text-align: center">
                                        <h3>{{ 'PHP Versions'|trans }}</h3>
                                        <canvas id="mauticChartPhp" width="200" height="200"></canvas>
                                    </div>
                                    {% endif -%}
                                    {% if data.dbDriver -%}
                                    <div class="col-12 col-md-6 col-xl-3 mb-4" style="text-align: center">
                                        <h3>{{ 'Database Drivers'|trans }}</h3>
                                        <canvas id="mauticChartDb" width="200" height="200"></canvas>
                                    </div>
                                    {% endif -%}
                                    {% if data.serverOs -%}
                                    <div class="col-12 col-md-6 col-xl-3 mb-4" style="text-align: center">
                                        <h3>{{ 'Server OS'|trans }}</h3>
                                        <canvas id="mauticChartServer" width="200" height="200"></canvas>
                                    </div>
                                    {%- endif %}
                                    {% if data.upgradeStatus is defined -%}
                                    <div class="col-12 col-md-6 col-xl-3 mb-4" style="text-align: center">
                                        <h3>{{ 'Upgrade status'|trans }}</h3>
                                        <canvas id="mauticChartUpgradeStatus" width="200" height="200"></canvas>
                                    </div>
                                    {%- endif %}
                                    {% if data.errorCode is defined -%}
                                    <div class="col-12 col-md-6 col-xl-3 mb-4" style="text-align: center">
                                        <h3>{{ 'Error code (if any)'|trans }}</h3>
                                        <canvas id="mauticChartErrorCode" width="200" height="200"></canvas>
                                    </div>
                                    {%- endif %}
                                </div>
                            {% else -%}
                            <div class="alert alert-info">{{ 'No statistics for Mautic are available'|trans }}</div>
                            {% endif %}
{% endblock %}

{% block bodyJavaScript -%}
        {{ parent() }}
        <script src="{{ asset('js/Chart.min.js') }}?v=2"></script>

        {% if data|length -%}
        <script>
            jQuery(document).ready(function ($) {
                {% if data.version -%}
                var appData = {
                    datasets: [{
                        data: [{% for version, count in data.version %}"{{ count }}"{% if not loop.last %},{% endif %}{% endfor %}],
                        backgroundColor: [{% for version, count in data.version %}"{{ chart_color() }}"{% if not loop.last %},{% endif %}{% endfor %}]
                    }],
                    labels: [{% for version, count in data.version %}"{{ version }}"{% if not loop.last %},{% endif %}{% endfor %}],
                    options: {
                        responsive: true
                    }
                };
                var ctxApp = document.getElementById('mauticChartVersion').getContext('2d');
                var appChart = new Chart(ctxApp, {
                    type: 'doughnut',
                    data: appData
                });
                {% endif -%}

                {% if data.phpVersion -%}
                var phpData = {
                    datasets: [{
                        data: [{% for version, count in data.phpVersion %}"{{ count }}"{% if not loop.last %},{% endif %}{% endfor %}],
                        backgroundColor: [{% for version, count in data.phpVersion %}"{{ chart_color() }}"{% if not loop.last %},{% endif %}{% endfor %}]
                    }],
                    labels: [{% for version, count in data.phpVersion %}"{{ version }}"{% if not loop.last %},{% endif %}{% endfor %}],
                    options: {
                        responsive: true
                    }
                };
                var ctxPhp = document.getElementById('mauticChartPhp').getContext('2d');
                var phpChart = new Chart(ctxPhp, {
                    type: 'doughnut',
                    data: phpData
                });
                {% endif -%}

                {% if data.dbDriver -%}
                var dbData = {
                    datasets: [{
                        data: [{% for version, count in data.dbDriver %}"{{ count }}"{% if not loop.last %},{% endif %}{% endfor %}],
                        backgroundColor: [{% for version, count in data.dbDriver %}"{{ chart_color() }}"{% if not loop.last %},{% endif %}{% endfor %}]
                    }],
                    labels: [{% for version, count in data.dbDriver %}"{{ version }}"{% if not loop.last %},{% endif %}{% endfor %}],
                    options: {
                        responsive: true
                    }
                };
                var ctxDb = document.getElementById('mauticChartDb').getContext('2d');
                var dbChart = new Chart(ctxDb, {
                    type: 'doughnut',
                    data: dbData
                });
                {% endif -%}

                {% if data.serverOs -%}
                var serverData = {
                    datasets: [{
                        data: [{% for version, count in data.serverOs %}"{{ count }}"{% if not loop.last %},{% endif %}{% endfor %}],
                        backgroundColor: [{% for version, count in data.serverOs %}"{{ chart_color() }}"{% if not loop.last %},{% endif %}{% endfor %}]
                    }],
                    labels: [{% for version, count in data.serverOs %}"{{ version }}"{% if not loop.last %},{% endif %}{% endfor %}],
                    options: {
                        responsive: true
                    }
                };
                var ctxServer = document.getElementById('mauticChartServer').getContext('2d');
                var serverChart = new Chart(ctxServer, {
                    type: 'doughnut',
                    data: serverData
                });
                {% endif -%}

                {% if data.upgradeStatus is defined -%}
                var upgradeStatusData = {
                    datasets: [{
                        data: [{% for version, count in data.upgradeStatus %}"{{ count }}"{% if not loop.last %},{% endif %}{% endfor %}],
                        backgroundColor: [{% for version, count in data.upgradeStatus %}"{{ chart_color() }}"{% if not loop.last %},{% endif %}{% endfor %}]
                    }],
                    labels: [{% for version, count in data.upgradeStatus %}"{{ version }}"{% if not loop.last %},{% endif %}{% endfor %}],
                    options: {
                        responsive: true
                    }
                };
                var ctxUpgradeStatus = document.getElementById('mauticChartUpgradeStatus').getContext('2d');
                var upgradeStatusChart = new Chart(ctxUpgradeStatus, {
                    type: 'doughnut',
                    data: upgradeStatusData
                });
                {% endif -%}

                {% if data.errorCode is defined -%}
                var errorCodeData = {
                    datasets: [{
                        data: [{% for version, count in data.errorCode %}"{{ count }}"{% if not loop.last %},{% endif %}{% endfor %}],
                        backgroundColor: [{% for version, count in data.errorCode %}"{{ chart_color() }}"{% if not loop.last %},{% endif %}{% endfor %}]
                    }],
                    labels: [{% for version, count in data.errorCode %}"{{ version }}"{% if not loop.last %},{% endif %}{% endfor %}],
                    options: {
                        responsive: true
                    }
                };
                var ctxErrorCode = document.getElementById('mauticChartErrorCode').getContext('2d');
                var upgradeStatusChart = new Chart(ctxErrorCode, {
                    type: 'doughnut',
                    data: errorCodeData
                });
                {% endif -%}
            });
        </script>
        {% endif -%}
{% endblock -%}
